<!DOCTYPE HTML>
{% extends "base.html" %}
{% set active_page = "menu1" %}

{% block content %}

<h2>edX data</h2>

<div class="col-lg-6">
    <div class="row">
        <table class="table table-hover">
            <tr>
                <td>
                    Choose X-axis:
                    <select name = "x-axis" class="form-control">
                        <option value="ndays_act"> ndays_act </option>
                        <option value="nplay_video"> nplay_video </option>
                        <option value="nevents"> nevents </option>
                        <option value="nchapters"> nchapters </option>
                        <option value="nprogcheck"> nprogcheck </option>
                        <option value="sum_dt"> sum_dt </option>
                    </select>
                </td>
                <td>
                    Choose Y-axis:
                    <select name = "y-axis" class="form-control">
                        <option value="ndays_act"> ndays_act </option>
                        <option value="nplay_video"> nplay_video </option>
                        <option value="nevents"> nevents </option>
                        <option value="nchapters"> nchapters </option>
                        <option value="nprogcheck"> nprogcheck </option>
                        <option value="sum_dt"> sum_dt </option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div id="plot">
        </div>
    </div>
</div>

<div id="info"  class="col-lg-6">
    <div id="point-info">
        <p>Click on a point.</p>
    </div>
</div>

<script type ="text/javascript" src ="/static/js/plot.js"></script>
<script>
$(document).ready(function(){
    $("select").on("change", function(){		
        var data = {
            x: $("select[name=x-axis]")[0].value,
            y: $("select[name=y-axis]")[0].value
        };
        $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/plot/person_course",
                dataType: "json",
                async: true,
                data: JSON.stringify(data),
                success: callback,
                error: function (error) { console.log(error); }	
        });
    });
});
</script>

{% endblock %}
