<!DOCTYPE HTML>
<!-- extend base layout -->
{% extends "base.html" %}
{% set active_page = "menu1" %}

{% block content %}

<h2>edX data</h2>


<div class="col-lg-6">
    <table class="table table-hover">
        <tr>
            <td>
                Choose X-axis:
            <select name = "course_id" class="form-control">
                <option value=1> ndays_act </option>
                <option value=2> nplay_video </option>
                <option value=3> nevents </option>
                <option value=4> nchapters </option>
                <option value=5> nprogcheck </option>
                <option value=6> sum_dt </option>
            </select>
            </td>
        <!-- </tr>
        <tr> -->
            <td>
                Choose Y-axis:
            <select name = "course_id" class="form-control">
                <option value=1> ndays_act </option>
                <option value=2> nplay_video </option>
                <option value=3> nevents </option>
                <option value=4> nchapters </option>
                <option value=5> nprogcheck </option>
                <option value=6> sum_dt </option>
                </select>
            </td>
        </tr>
    </table>
</div>

<div id="info"  class="col-lg-6">
    <div id="point-info">
        <p>Click on a point.</p>
    </div>
</div>

<div id="plot">
</div>

    

<script type ="text/javascript" src ="/static/custom_js/plot.js"></script>
<script>
    d3.json("/data/1", callback);
</script>

{% endblock %}